@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 32px;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-top: 10px;
}

.btn {
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}

.purple {
  color: #6415ff;
}

.titles {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
  margin: 0 0 16px;
}

/* NAV BAR */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo-link {
  display: flex;
}

.nav__logo {
  height: 50px;
  width: 50px;
}

.nav__logo--link {
  font-size: 36px;
  color: #243e63;
  font-weight: 900;
  padding-top: 4px;
}

.nav__logo--link:hover {
  color: #6415ff;
  transition: all 300ms ease;
}

.nav__link {
  font-size: 16px;
  margin: 0 24px 0 48px;
  padding-top: 16px;
  padding: 0 4px;
  color: #243e63;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
  transition: all 300ms ease;
}

.nav__btn {
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.nav__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}

/* LANDING */

.landing__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
}

.landing__visuals {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__img {
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.landing__title {
  font-size: 36px;
  color: #1a202c;
}

.landing__para {
  font-size: 16px;
  margin: 32px 0;
  color: #243e63;
}

.landing__line {
  padding: 16px 0 8px 0;
  color: #a0aec0;
}

.landing__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  align-items: center;
}

.landing__email--input {
  width: 100%;
  height: 100%;
  border-radius: 500px;
  border: 2px solid #e5e7eb;
  padding: 20px 190px 20px 32px;
}

.email-input__btn {
  position: absolute;
  right: 8px;
  height: calc(100% - 16px);
  width: 160px;
  border: none;
}

/* FEATURES */

.features__container {
  padding: 80px 0;
}

.features__headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__subtitle {
  font-size: 48px;
  color: #243e63;
}

.features__headings--para {
  margin: 16px 0 0;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
  color: #7c8ba1;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px;
  padding: 32px 8px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  font-size: 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
  color: #243e63;
}

#service__para {
  padding: 4px 24px 16px 4px;
  color: #7c8ba1;
}

.service__icon {
  height: 30px;
  text-align: center;
  color: #6415ff;
  border: solid rgb(226, 232, 240) 2px;
  border-radius: 9999px;
}

/* QUALITY WORK */

.quality__container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.quality-work__row {
  display: flex;
}

#quality-work__visual {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.quality-work__img {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.quality-work__headings {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality-work__subtitle {
  margin: 16px 0 0;
  font-size: 48px;
  color: #243e63;
}

.quality-work__headings--para {
  margin: 16px 0 0;
  font-size: 16px;
  color: #7c8ba1;
}

#quality-work__button {
  margin: 32px 0;
  width: 25%;
}

/* STEPS */

.steps__container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.steps__row {
  display: flex;
}

.steps__visual {
  width: 50%;
}

.steps__img {
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.steps__headings {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.steps__subtitle {
  color: #243e63;
}

.steps__number {
  display: flex;
  font-size: 36px;
  margin: 32px 0 0;
  color: #cbd5e0;
}

.steps__number--subtitle {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0 0 0 20px;
  color: #243e63;
}

.steps__number--para {
  font-size: 14px;
  margin: 12px 0 0;
  color: #718096;
}

/* VALUES */

.values__container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.values__row {
  display: flex;
}

.values__headings {
  width: 50%;
}

.values__visual {
  width: 50%;
}

.values__img {
  width: 100%;
  max-width: 32rem;
}

.values__subtitle {
  margin: 16px 0 0;
  font-size: 48px;
  color: #243e63;
}

.values__para {
  margin: 32px 0 0;
  font-size: 18px;
  color: #7c8ba1;
}

.principles {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.principles__affordable {
  margin: 32px 32px 0 0;
}

.affordable__icon {
  display: flex;
  flex-direction: row;
}

.dollar-sign {
  height: 36px;
  width: 36px;
  background-color: #9ae6b4;
  border-radius: 50%;
  padding: 8px;
}

.professionalism__icon {
  display: flex;
  flex-direction: row;
}

.briefcase {
  height: 36px;
  width: 36px;
  background-color: #feb2b2;
  border-radius: 50%;
  padding: 8px;
}

.principles__professionalism {
  margin: 32px 32px 0 0;
}

.principles__heading {
  color: #243e63;
  margin-top: 4px;
  margin-left: 8px;
}

.principles__para {
  color: #718096;
}

.values__btn {
  margin-top: 32px;
}

/* PRICING */

.pricing__container {
  padding: 72px;
}

.pricing__headings {
  text-align: center;
  margin: 40px 0 0;
}

.pricing__subtitle {
  color: #243e63;
}

.pricing__para {
  margin: 16px 0 0;
  color: #7c8ba1;
}

.pricing__plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: row;
}

.plan__price {
  margin: 4px;
}

.plan__option {
  margin: 20px 0 0;
}

.plan__heading {
  padding: 32px 0;
  text-align: center;
}

.plan__options {
  padding: 32px;
  text-align: center;
}

.plan__btn {
  padding: 32px 64px;
  text-align: center;
}

.plan__personal {
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
}

.personal__btn {
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.personal__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}

.plan__business {
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
}

.business__btn {
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.business__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}

.plan__enterprise {
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
}

.enterprise__btn {
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.enterprise__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}