@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 0 32px;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-top: 10px;
}

.btn {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}

.purple {
  color: #6415ff;
}

.titles {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
}

/* NAV BAR */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.nav__logo-link {
  display: flex;
}

.nav__logo {
  height: 50px;
  width: 50px;
}

.nav__logo--link {
  font-size: 36px;
  color: #243e63;
  font-weight: 900;
  padding-top: 4px;
}

.nav__logo--link:hover {
  color: #6415ff;
  transition: all 300ms ease;
}

.nav__link {
  font-size: 16px;
  margin: 0 24px 0 48px;
  padding-top: 16px;
  padding: 0 4px;
  color: #243e63;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
  transition: all 300ms ease;
}

.nav__btn {
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
}

.nav__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
  transition: all 300ms ease;
}

/* LANDING */

.landing__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 96px 0;
}

.landing__visuals {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__img {
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.landing__title {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.landing__para {
  font-size: 16px;
  margin: 32px 0;
  color: #243e63;
}

.landing__line {
  margin: 80px 0 0;
  color: #a0aec0;
}

.landing__description--logos {
  margin: 16px 0 0;
}

.landing__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  align-items: center;
}

.landing__email--input {
  width: 100%;
  height: 100%;
  border-radius: 500px;
  border: 2px solid #e5e7eb;
  padding: 20px 190px 20px 32px;
}

.email-input__btn {
  position: absolute;
  right: 8px;
  height: calc(100% - 16px);
  width: 160px;
  border: none;
}

/* FEATURES */

.features__container {
  padding: 96px 0;
}

.features__headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__subtitle {
  margin: 16px 0;
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
}

.features__headings--para {
  width: 50%;
  font-size: 16px;
  text-align: center;
  color: #7c8ba1;
  line-height: 1.625;
  font-weight: 500;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px;
  padding: 32px 8px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  font-size: 24px;
  padding: 32px 24px;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
  color: #243e63;
}

#service__para {
  margin: 16px 0 0;
  color: #7c8ba1;
}

.service__icon {
  display: flex;
  height: 65.6px;
  width: 65.6px;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.direct__icon {
  height: 24px;
  width: 24px;
}

/* QUALITY WORK */

.quality__container {
  padding: 96px 0;
}

.quality-work__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quality-work__visual {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.quality-work__img {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.quality-work__headings {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality-work__subtitle {
  margin: 16px 0;
  font-size: 48px;
  color: #243e63;
}

.quality-work__headings--para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
}

#quality-work__button {
  margin: 32px 0;
  width: 25%;
}

/* STEPS */

.steps__container {
  padding: 96px 0;
}

.steps__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__visual {
  width: 50%;
}

.steps__img {
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.steps__headings {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  padding-left: 64px;
}

.steps__subtitle {
  font-size: 64px;
  margin: 16px 0;
  color: #243e63;
}

.steps__number {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
  font-size: 36px;
  margin: 32px 0 0;
  color: #cbd5e0;
}

.steps__number--subtitle {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
  color: #243e63;
}

.step__title {
  font-size: 20px;
}

.steps__number--para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/* VALUES */

.values__container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.values__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__headings {
  width: 50%;
  padding: 32px 64px 32px 0;
}

.values__visual {
  width: 50%;
}

.values__img {
  width: 100%;
  max-width: 32rem;
}

.values__subtitle {
  margin: 16px 0 32px;
  font-size: 64px;
  color: #243e63;
  line-height: 1.25;
  font-weight: 900;
}

.values__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.principles {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.principles__affordable {
  margin: 32px 32px 0 0;
}

.affordable__icon {
  display: flex;
  flex-direction: row;
}

.dollar-sign {
  height: 36px;
  width: 36px;
  background-color: #9ae6b4;
  border-radius: 50%;
  padding: 8px;
}

.professionalism__icon {
  display: flex;
  flex-direction: row;
}

.briefcase {
  height: 36px;
  width: 36px;
  background-color: #feb2b2;
  border-radius: 50%;
  padding: 8px;
}

.principles__professionalism {
  margin: 32px 32px 0 0;
}

.principles__heading {
  color: #243e63;
  margin-top: 4px;
  margin-left: 8px;
}

.principles__para {
  color: #718096;
}

.values__btn {
  margin-top: 48px;
}

/* PRICING */

.pricing__container {
  padding: 96px 0;
}

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title {
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.pricing__subtitle {
  text-align: center;
  margin: 16px 0;
  font-size: 64px;
  color: #243e63;
}

.pricing__para {
  text-align: center;
  max-width: 576px;
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.pricing__plans {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255);
  margin-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  color: rgb(26 32 44);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__heading {
  padding: 32px 0;
  text-align: center;
  font-size: 16px;
}

.plan__price {
  margin: 4px;
  font-size: 48px;
}

.duration {
  font-size: 16px;
}

.plan__options {
  margin: 0px - 32px;
  padding: 32px;
  text-align: center;
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
}

.plan__option {
  margin: 20px 0 0;
  font-size: 16px;
}

.option__heading {
  font-size: 22px;
}

.plan__btn {
  padding: 32px;
  text-align: center;
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.personal__btn {
  padding: 16px 32px;
  border: none;
  border-radius: 50px;
  width: 188px;
  height: 53px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  transform: translateX(1.5px);
  transition: all 300ms ease;
}

.personal__btn:hover {
  cursor: pointer;
  transform: translateY(1.5px);
  box-shadow: 0 2px 4px black;
  transition: all 300ms ease;
}

.business__element {
  color: white;
}

.plan:nth-child(2) .plan__options {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.business__btn {
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
  width: 188px;
  height: 53px;
  color: #6415ff;
  background: white;
  font-size: 14px;
  font-weight: 700;
  transform: translateX(1.5px);
  transition: all 300ms ease;
}

.business__btn:hover {
  cursor: pointer;
  transform: translateY(1.5px);
  box-shadow: 0 2px 4px black;
  transition: all 300ms ease;
}

.plan:nth-child(3) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.enterprise__btn {
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
  width: 188px;
  height: 53px;
  color: white;
  background: Linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  font-size: 14px;
  font-weight: 700;
  transform: translateX(1.5px);
  transition: all 300ms ease;
}

.enterprise__btn:hover {
  cursor: pointer;
  transform: translateY(1.5px);
  box-shadow: 0 2px 4px black;
  transition: all 300ms ease;
}

/*TESTIMONIALs*/

.testimonial__container {
  padding: 96px 0;
}

.testimonial__row {
  display: flex;
}

.testimonial__visual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonial__img {
  width: 100%;
  min-width: 0px;
  max-width: 32rem;
}

.testimonial__display {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.testimonial__subtitle {
  margin: 16px 0 24px;
  color: #243e63;
  font-size: 64px;
  font-weight: 900;
}

.testimonial__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.testimonial__rating {
  margin: 40px 0 0;
}

.stars {
  margin: 4px 2px 0 0;
  color: gold;
}

.testimonial__rating--header {
  margin: 16px 0 0;
  font-size: 20px;
  color: #243e63;
}

.testimonial__rating--para {
  margin: 16px 0 36px;
  font-size: 16px;
  color: #4a5568;
}

.testimonial__people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.female__testimonial {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonial__female {
  display: flex;
  flex-direction: row;
}

.testimonial__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__description__name {
  line-height: 1.625;
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
  padding-left: 24px;
  padding-right: 24px;
}

.testimonial__description--para {
  font-weight: 500;
  line-height: 1.5;
  color: #7c8ba1;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.testimonial__btns {
  display: flex;
  align-items: center;
}

.testimonial__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  border: none;
  margin: 0 12px;
  transition: all 300ms ease;
}

.testimonial__btn:hover {
  background: rgb(229 231 235);
  cursor: pointer;
}

.testimonial__arrow {
  width: 16px;
  height: 16px;
  color: #6415ff;
}

.divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-right-width: 1px;
  width: 0.5px;
  background-color: #edf2f7;
  height: 20px;
}

/* GET STARTED*/

#get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 96px;
}

.get-started__container {
  padding: 96px 0;
  width: 100%;
  background-color: rgb(100, 21, 255);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 282px;
  width: 1004px;
}

.get-started__row {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started__heading {
  color: white;
  font-size: 30px;
  width: 50%;
}

.get-started__btns {
  width: 50%;
  width: 480px;
  height: 65.6px;
}

.start__btn {
  background: #f56565;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-right: 32px;
  transition: all 300ms ease;
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin-left: 24px;
  margin-right: 24px;
  z-index: 2;
}

.start__btn:hover {
  background: #fe3c3c;
}

.contact__btn {
  border: 1px solid rgb(160, 174, 192);
  transition: all 300ms ease;
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin: 1px;
  z-index: 2;
}

.contact__btn:hover {
  background: white;
  color: #6415ff;
}

/* FOOTER */

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

.links {
  margin-top: -48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  color: white;
  margin: -48px 0 0;
}

.link__main {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.link__title {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
  font-size: 20px;
}

.footer__link {
  padding: 0 0 4px;
  margin: 12px 0 0;
  color: white;
  font-size: 16px;
}

.footer__link:hover {
  text-decoration: underline;
  transition: all 300ms ease;
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background: rgb(116, 44, 255);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info--logo-link {
  display: flex;
}

.footer__info--img {
  height: 32px;
  width: 32px;
  background: white;
}

.footer__info--img-link {
  margin: 0 0 0 8px;
  color: white;
  font-size: 24px;
  font-weight: 900;
}

.footer__info--para {
  color: #cbd5e0;
  font-weight: 500;
}

.footer__social--links {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social-icon {
  margin-left: 16px;
  padding: 8px;
  background: #f7fafc;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
  color: #243e63;
}

.footer__social-icon:hover {
  color: #7c8ba1;
  transition: all 300ms ease;
}

/* BURGERMENU */

.btn__menu,
.btn__menu--close,
.menu,
.menu__open,
.menu__links,
.menu__link,
.menu__link--primary {
  display: none;
}

.menu:target {
  display: block;
}

/* Tablets and Large Phones */

@media (max-width: 768px) {
  a {
    display: inline;
    text-decoration: none;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  /* NAV */

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
    background-color: transparent;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
  }

  .btn__menu:hover {
    color: #6415ff;
  }

  .btn__direct {
    height: 24px;
    width: 24px;
  }

  .btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
  }

  /* BURGERMENU */

  .menu__open,
  .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
  }

  .menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    color: black;
  }

  .menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
    width: 25%;
  }

  /* LANDING */

  .landing__container {
    flex-direction: column;
    align-items: center;
  }

  .landing__visuals {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .landing__title {
    font-size: 30px;
  }

  .landing__img {
    max-width: 512px;
  }

  .landing__line {
    margin: 40px 0 0 0;
  }

  .landing__description--logos {
    width: 80%;
  }

  .features__headings--para {
    width: 70%;
  }

  /* SERVICES */

  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  /* QUALITY WORK */

  .quality-work__headings {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .quality-work__headings--para {
    font-size: 16px;
  }

  #quality-work__button {
    width: 50%;
  }

  .quality-work__img {
    width: 100%;
  }

  /* STEPS */

  .steps__img {
    width: 100%;
  }

  .steps__headings {
    padding-top: 32px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .steps__row {
    justify-content: center;
    align-items: center;
  }

  .steps__title {
    text-align: center;
  }

  .steps__subtitle {
    text-align: center;
    font-size: 48px;
  }

  .steps__number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__number--subtitle {
    justify-content: center;
    text-align: center;
  }

  .number__direct {
    padding-left: 20px;
  }

  /* VALUES */

  .values__headings {
    padding-bottom: 36px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
  }

  .values__subtitle {
    font-size: 48px;
  }

  .values__para {
    font-size: 16px;
  }

  .principles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .affordable__icon,
  .professionalism__icon  {
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
  }

  .values__btn {
    justify-content: center;
    align-items: center;
  }

  /* PRICING */

  /* BURGERMENU */

  /* TESTIMONIALS */

  /* GET STARTED */

  /* FOOTER */
}
